<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chess game</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .chessboard {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    height: 100%;
    position: relative;
}

.chessboard.flipped {
    transform: rotate(180deg);
}

.chessboard.flipped .square {
    transform: rotate(180deg);
}

.square {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.light {
    background-color: #f0d9b5;
}

.square.dark {
    background-color: #b58863;
}

.square.highlight {
    background-color: #a9d67b;
}

.piece {
    font-size: 2rem;
    cursor: grab;
}


        

    </style>
</head>
<body>
  
    <div class="w-full h-screen  flex items-center justify-center bg-zinc-900">
        <div class=" chessboard w-96 h-96 bg-red-400"></div>
    </div>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
    <script src="/js/chessgame.js"></script>
</body>
</html>